networks:
  production:
    external: true
  musicbrainz-docker_default:
    external: true

services:

  web:
    build: .
    image: fast-fuzzy
    expose:
      - "3031"
    volumes:
      - ./index:/code/fuzzy/index
    restart: unless-stopped
    environment:
      - VIRTUAL_HOST=dev.listenbrainz.org
      - LETSENCRYPT_HOST=dev.listenbrainz.org
      - LETSENCRYPT_EMAIL=mayhem@gmail.com
    networks:
      - musicbrainz-docker_default
      - production

